apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - opa.yml

patchesStrategicMerge:
  - feature.yml

configMapGenerator:
  # ConfigMap holding OPA policy definitions for use by Armory's Policy Engine.
  # Required by patch-policy-engine-plugin.yml
  - name: spin-policies
    files:
      - policies/manual-judgement.rego
      - policies/save-pipeline.rego
      - policies/deploy-manifest.rego
